@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}


.blink {
  animation: blink 0.85s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main1 {
  background: url(https://enactusbitshyd.in/images/home2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#main2 {
  background: url(https://enactusbitshyd.in/images/home3.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#main3 {
  background: url(https://enactusbitshyd.in/images/home4.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.enactus h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media (max-width: 1023px) {
  #main1 {
    background: url(https://enactusbitshyd.in/images/home21.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #main2 {
    background: url(https://enactusbitshyd.in/images/home31.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #main3 {
    background: url(https://enactusbitshyd.in/images/home41.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 639px) {
  #main1 {
    background: url(https://enactusbitshyd.in/images/home21.png);
    background-size: contain;
    background-position: top;
    background-attachment: local;
    background-repeat: no-repeat;
  }

  #main2 {
    background: url(https://enactusbitshyd.in/images/home31.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: local;
  }
  #main3 {
    background: url(https://enactusbitshyd.in/images/home41.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: local;
  }

  
}
